<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bank Management System - Password Change</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/setting.css')}}">
    <!-- BAKER CHUKWUMA JUDE -->
</head>

<body>
    <div class="container">
        <div class="sidebar">
            <div class="logo"><img src="{{url_for('static', filename = 'images/logo.png')}}" alt="Nazar Bank Logo"> Nazar Bank</div>
            <nav>
                <ul>
                    <!-- BAKER CHUKWUMA JUDE -->
                    <li><a href="#"><i class="fa-solid fa-house"></i>Home</a></li>
                    <li><a href="{{url_for('view.accountNum')}}"><i class="fa-solid fa-file-invoice-dollar"></i>Accounts</a></li>
                    <li><a href="{{url_for('view.deposite')}}"><i class="fa-solid fa-money-bills"></i>Deposit</a></li>
                    <li><a href="{{url_for('view.Transac')}}"><i class="fa-solid fa-money-bill-transfer"></i>Transfer</a></li>
                    <li><a href="#"><i class="fa-solid fa-credit-card"></i>Cards</a></li>
                    <li><a href="security.html"><i class="fa-solid fa-gear"></i>Settings</a></li>
                    <li><a href="support.html"><i class="fa-solid fa-phone"></i>Support</a></li>
                    <li><a href="#"><i class="fa-solid fa-right-from-bracket"></i>Logout</a></li>
                </ul>
            </nav>
        </div>
        <main>
            <h2>Password</h2>
            <form action="#" method="post"><!-- BAKER CHUKWUMA JUDE -->
                <div class="form-group">
                    <label for="password">Change Password</label>
                    <input type="password" id="password" name="password" placeholder="Enter new password" required>
                </div>
                <div class="form-group">
                    <label for="confirm-password">Confirm Password</label>
                    <input type="password" id="confirm-password" name="confirm-password" placeholder="Enter confirmed password" required>
                </div>
                <button type="submit">Change</button><!-- BAKER CHUKWUMA JUDE -->
            </form>
        </main>
    </div>
    <footer>
        <p>&copy; 2024 Nazar Bank. All rights reserved.</p>
    </footer>
    <script src="{{url_for('static', filename = 'js/scrit.js')}}"></script>
</body>

</html>
