<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bank Management System - Settings Page</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/setting.css')}}">
    <script src="https://kit.fontawesome.com/c1cb8bcff5.js" crossorigin="anonymous"></script>
</head>

<body><!-- EJIFORMAH OMAMEKPE FAVOUR -->
    <div class="container">
        <div class="sidebar">
            <div class="logo"><img src="{{url_for('static', filename = 'images/logo.png')}}" alt="Nazar Bank Logo"> Nazar Bank</div>
            <nav>
                <ul>
                    <li><a href="{{url_for('view.userDash')}}"><i class="fa-solid fa-house"></i>Home</a></li>
                    <li><a href="\"><i class="fa-solid fa-file-invoice-dollar"></i>Accounts</a></li>
                    <li><a href="{{url_for('view.deposite')}}"><i class="fa-solid fa-money-bills"></i>Deposit</a></li>
                    <li><a href="{{url_for('view.Transac')}}"><i class="fa-solid fa-money-bill-transfer"></i>Transfer</a></li>
                    <li><a href="#"><i class="fa-solid fa-credit-card"></i>Cards</a></li>
                    <li><a href="support.html"><i class="fa-solid fa-phone"></i>Support</a></li>
                    <li><a href="{{url_for('auth.logout')}}"><i class="fa-solid fa-right-from-bracket"></i>Logout</a></li>
                </ul>
            </nav>
        </div><!-- EJIFORMAH OMAMEKPE FAVOUR -->
        <main>
            <h2><i class="fa-solid fa-screwdriver-wrench"></i> Settings</h2>
            <ul>
                <li><a href="{{url_for('view.profile')}}"><i class="fa-solid fa-user"></i>PROFILE</a></li>
                <li><a href="#"><i class="fa-solid fa-fingerprint"></i>FINGERPRINT</a></li>
                <li><a href="#"><i class="fa-solid fa-palette"></i>THEME</a></li>
                <li><a href="{{url_for('view.displayAcc')}}"><i class="fa-solid fa-hashtag"></i>ACCOUNT NUMBER</a></li>
            </ul>
        </main>
    </div>
    <footer>
        <p>&copy; 2024 Nazar Bank. All rights reserved.</p>
    </footer>
    <script src="{{url_for('static', filename = 'js/script.js')}}"></script>
</body>

</html>