<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bank Management System - Username Change</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/setting.css')}}">
    
</head>

<body>
    <div class="container">
        <div class="sidebar">
            <div class="logo"><img src="{{url_for('static', filename = 'images/logo.png')}}" alt="Nazar Bank Logo"> Nazar Bank</div>
            <!-- EJIFORMAH OMAMEKPE FAVOUR -->
            <nav>
                <ul>
                    <li><a href="{{url_for('view.userDash')}}"><i class="fa-solid fa-house"></i>Home</a></li>
                    <li><a href="{{url_for('view.accountNum')}}"><i class="fa-solid fa-file-invoice-dollar"></i>Accounts</a></li>
                    <li><a href="{{url_for('view.deposite')}}"><i class="fa-solid fa-money-bills"></i>Deposit</a></li>
                    <li><a href="{{url_for('view.Transac')}}"><i class="fa-solid fa-money-bill-transfer"></i>Transfer</a></li>
                    <li><a href="#"><i class="fa-solid fa-credit-card"></i>Cards</a></li>
                    <li><a href="{{url_for('view.setting')}}"><i class="fa-solid fa-gear"></i>Settings</a></li>
                    <li><a href="support.html"><i class="fa-solid fa-phone"></i>Support</a></li>
                    <li><a href="{{url_for('auth.logout')}}"><i class="fa-solid fa-right-from-bracket"></i>Logout</a></li>
                </ul>
            </nav><!-- EJIFORMAH OMAMEKPE FAVOUR -->
        </div>
        <main>
            <h2>Username</h2>
            <form action="#" method="post">
                <div class="form-group">
                    <label for="username">Change Username</label>
                    <input type="text" id="username" name="username" placeholder="Enter new Username" value = "{{username}}"required>
                    
                </div><!-- EJIFORMAH OMAMEKPE FAVOUR -->
                <button type="submit">Change</button>
            </form>

        </main>
    </div>
    <footer>
        <p>&copy; 2024 Nazar Bank. All rights reserved.</p>
    </footer>
    <script src="script.js"></script>
</body>

</html>
