body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    background-color: #1a1a1a;
    width: 250px;
    height: 100vh;
    color: white;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
}

.logo {
    font-size: 20px;
    margin-bottom: 20px;
    color: white;
}

.logo img {
    width: 50px;
    vertical-align: middle;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    margin: 10px 0;
}

nav ul li a {
    text-decoration: none;
    color: #bbb;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: background 0.3s;
}

nav ul li a:hover {
    background-color: #333;
}

main {
    padding: 20px;
    margin-left: 300px;
    box-sizing: border-box;
    flex: 1;
    overflow-y: auto;
}

h2 {
    margin-top: 0;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
}

ul li a {
    text-decoration: none;
    color: #000;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: background 0.3s;
}

ul li a:hover {
    background-color: #ddd;
} 

main ul li a i{
    margin-right: 10px;
}

main ul li span{
    margin-left: 5px;
    font-size: 10px;
    color: #bbb;
}

i{
    margin: 10px;
}

.form-group {
    margin-bottom: 20px;
    margin-right: 20px;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    background-color: #00aaff;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #003366;
}

footer {
    background-color: #004080;
    color: white;
    text-align: center;
    padding: 5px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    margin-left: 290px;
}


/* Large desktops and laptops */
@media (min-width: 1200px) {
    .container {
        width: 70%;
    }
}

/* Tablets */
@media (min-width: 768px) and (max-width: 1199px) {
    .container {
        width: 90%;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
    }

    .navbar ul {
        display: flex;
        list-style-type: none;
    }

    .navbar li {
        margin: 0 10px;
    }
}

/* Portrait tablets and small desktops */
@media (min-width: 600px) and (max-width: 767px) {
    .container {
        width: 100%;
    }

    .navbar {
        display: block;
    }

    .navbar ul {
        display: block;
        list-style-type: none;
    }

    .navbar li {
        margin: 5px 0;
    }
}

/* Phones */
@media (max-width: 599px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }

    .navbar {
        display: block;
    }

    .navbar ul {
        display: block;
        list-style-type: none;
        padding: 0;
    }

    .navbar li {
        margin: 5px 0;
    }

    .header {
        text-align: center;
        padding: 10px;
    }
}
